.active-link {
    border-bottom: 2px solid red;
}

.nav-border {
    border-right: 2px dashed white;
    padding-right: 20px;
}

.closed {
    color: #ab5050;
}

.opened {
    color: #79ad43;
}

.pb50 {
    padding-bottom: 50px;
}
